# ===============================
# Node / React Native
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Metro
.metro-health-check*

# ===============================
# Environment files
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# React Native
# ===============================
.bundle/
dist/

# ===============================
# Android
# ===============================
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/gradlew.bat
android/gradlew
android/gradle/wrapper/gradle-wrapper.jar
android/gradle/wrapper/gradle-wrapper.properties

# Logs
*.log

# ===============================
# iOS
# ===============================
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcuserstate
ios/.idea/

# ===============================
# IDE / Editor
# ===============================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/
*.swp
*.swo

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db


# Android build artifacts
android/app/.cxx/
android/app/build/
android/.gradle/
android/build/
android/local.properties
android/debug.keystore
*.log


# Logs
*.log
